<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <title text="My blog"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/css/cover.css}" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:insert="blocks/header :: header"></header>

    <div class="container mt-5" mb-5>
        <h1>Edit an article</h1>
        <div th:each="el : ${post}" class="alert alert-info mt-2">
            <form method="post">
                <input type="text" th:value = "${el.title}" name="title" placeholder="Input the name of the article" class="form-control"><br>
                <input type="text" th:value = "${el.anons}" name="anons" placeholder="Input the anons of the article" class="form-control"><br>
                <textarea name="full_text" th:text = "${el.full_text}" placeholder="Input the full text of the article" class="form-control"></textarea><br>
                <button type="submit" class="btn btn-success">Save changes</button>
            </form>
        </div>
    </div>
</div>

<footer class="mt-auto text-white-50">
    <p></p>
</footer>
</div>
</body>
</html>